@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	background-color: #f6f7fa;
	height: 100%;
	width: 100%;
}

#__next {
	height: 100%;
	width: 100%;
}

#cont {
	flex-direction: row;
}

@media only screen and (max-width: 800px) {
	#cont {
		flex-direction: column;
	}
}
